#togglePassword{
 float:right;
 margin-left: -25px;
 margin-top: -30px;
 right: 10px;
 position: relative;
 z-index: 2;
}
#toggleConfirmPassword{
    float:right;
    margin-left: -25px;
    margin-top: -30px;
    right: 10px;
    position: relative;
    z-index: 2;
   }