<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- header.html -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/Member/Index" class="nav-link link-light px-2 active" aria-current="page">首頁</a></li>
            </ul>
            <ul class="nav" id="auth-nav">
            </ul>
        </div>
    </nav>
</header>
</body>
</html>
